/**
justify-content: center, start, stretch; --> this is about whole container not about items
*/

.grid {
  display: grid;
  grid-template:
    repeat(3, 100px) /
    200px auto;
  grid-gap: 10px;
  justify-content: space-around;
  height: 400px;
  align-content: center;
  border: 1px solid #fff;
}
