.grid {
  display: flex;
}

.cell {
  flex: 1;
  /* 1 1 0% */
}

.gutters {
  margin: -10px 0 10px 10px;
}

.gutters > .cell {
  padding: 10px 0 0 10px;
}

.cell > div {
  background-color: rgb(255, 255, 255, 0.7);
  height: 100%;
  padding: 10px;
}
